name: Deploy to Colocation Server
on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/develop" ]]; then
            echo "Deploying to staging..."
            export SERVER_IP=${{ secrets.STAGING_IP }}
          else
            echo "Deploying to production..."
            export SERVER_IP=${{ secrets.PROD_IP }}
          fi

          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PUBLIC_KEY }}" > ~/.ssh/id_rsa.pem
          chmod 600 ~/.ssh/id_rsa.pem
          ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts
          
      - name: Setup Server via SSH
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/develop" ]]; then
            echo "Deploying to staging..."
            export SERVER_IP=${{ secrets.STAGING_IP }}
          else
            echo "Deploying to production..."
            export SERVER_IP=${{ secrets.PROD_IP }}
          fi
          ssh -i ~/.ssh/id_rsa.pem -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@$SERVER_IP "
            apt-get update
            apt-get install -y nginx
            systemctl enable nginx
            systemctl start nginx

            # cd /var/www/html || mkdir -p /var/www/html
            # cd /var/www/html
            # git pull || git clone https://github.com/${{ github.repository }} .
            # npm install
            # pm2 restart all || pm2 start app.js
          "

      - name: Sync app folder
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/develop" ]]; then
            echo "Deploying to staging..."
            export SERVER_IP=${{ secrets.STAGING_IP }}
          else
            echo "Deploying to production..."
            export SERVER_IP=${{ secrets.PROD_IP }}
          fi
          # ssh -i .ssh/id_ed25519 ${{ secrets.SERVER_USER }}@$SERVER_IP "
          #   apt-get update
          #   apt-get install -y nginx
          #   systemctl enable nginx
          #   systemctl start nginx
          # "

          # Create custom homepage
          rsync -avz --delete -e "ssh -i ~/.ssh/id_rsa.pem -o StrictHostKeyChecking=no" ./frontend/* ${{ secrets.SERVER_USER }}@$SERVER_IP:/var/www/html/
